<!DOCTYPE html>
<html>
  <!-- Yes, I hand-crafted this all myself.  
       Serverside, it uses the Express.js framework deployed through an Azure App Service.
       Clientside, it uses Javascript, CSS, and a little JQuery too for popup window control.
       The Microsoft BotFramework WebChat provides the chat functionality, secured through DirectLine serverside token provision.
       The AI infused Azure Custom Question Answering tool provides the underlying Questions & Answers.
  -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- page specific WebChat control sizing-->
    <style>      
      #webchat {
        min-height: 100px;

        height: calc(100vh - 160px);        /* 100vh doesn't render properly on Safari */
        max-height: calc(100vh - 160px);    /* 100vh doesn't render properly on Safari */
        
        /* This css attempts to handle Safari by using dynamic viewport height instead */
        /* Also possible to use 'svh' (small viewport height) */
        /* https://opus.ing/posts/fixing-ios-safaris-menu-bar-overlap-css-viewport-units */
        @supports (height: 100dvh) {
          height: calc(100dvh - 160px);
          max-height: calc(100dvh - 160px);
        }

        min-width: 370px;
        width: 100%;

        overflow: auto;
        display: -webkit-flex;
      }

      #webchat>* {font-size: 16px;}
    </style>

    <!-- Default column styling-->
    <style>
      #col_left {
        vertical-align:top; 
        min-width: 300px;
      }
      
      #col_right {
        vertical-align: top; 
        width:400px; 
        min-width: 300px; 
        max-width: 400px;
      }
    </style>

    <!--UI visibility overrides depending on screen width-->
    <style>
      /* If the screen size is 740px wide or less, hide the left column and just show the chat window */
      @media only screen and (max-width: 740px) {        
        #col_left {display: none;}
        #col_right {min-width: 100px; width: 100%; max-width: 100%;}
        #webchat {height: calc(100vh - 160px); max-height: calc(100vh - 160px);}

        @supports (height: 100dvh) {
          #webchat {height: calc(100dvh - 160px); max-height: calc(100dvh - 160px);}
        }
      }
    </style>

    <title>Duncan Bell - Home</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  

  <body>
    <div class="heading">Duncan Alexander Bell</div>
    <br>
    
    <table style="width:100%; border-spacing: 12px">
      <tbody>
        <tr>
          <td id="col_left" rowspan="2">
              <div class="fancybox">
                <div class="subheading">Introduction</div>
                <hr>
                <div class="content">
                  I am a <span style="font-weight: bold">Senior Solutions Consultant</span> based in Auckland, New Zealand.
                  <br><br>
                  Throughout my career, I've played a crucial role in translating user requirements into actionable solutions. 
                  <br><br>
                  Over time, I've weaved this into different elements of the delivery process: developing software, both independently and as a development team lead, project managing software delivery projects, technical business analysis, product ownership, and more recently, as a Solutions Consultant (pre-sales and PS).
                  <br><br>
                  Always enthusiastic about new technology, I'm currently upskilling with AI certification and programmes, and I love interesting challenges to work through.
                </div>
              </div>
              <br>
              
              <div class="fancybox">
                <div class="subheading">More Information</div>
                <hr>
                <div class="content">
                  <ul>
                    <li><a target="_blank" href="https://www.linkedin.com/in/duncan-alexander-bell">LinkedIn Profile</a></li>
                    <li><a target="_blank" href="https://www.seek.co.nz/profile/duncan-bell-j5thpvFWnk">Seek Profile</a></Li>
                  </ul>
                </div>
              </div>
          </td>
          
          <td id="col_right">
            <div class="fancybox">
              <div class="subheading">Chat <span class="open-popup"><img src="/images/info-2-16.png" width=12px height=12px /></span></div>
              <hr>
              <div id="webchat" role="main" ></div>
            </div>
          </td>
        </tr>
        
        <tr>
          <td></td>
          <td style="height: 100%;"></td>
        </tr>
      </tbody>
    </table>

    <div class="popup-container" style="display:none;">
      <div class="popup-content">
        <div class="subheading">Chat Bot</div>
        <div class="close-popup"><img src="/images/x-mark-16.png" width="12px" height="12px"/></div>
        <hr>
        <div class="content">
        The Chat bot on this page is built and deployed on <span style="font-weight: bold">Microsoft Azure.</span>
        <br><br>
        You can ask it a variety of 'resume' or 'interview' questions, or simply type 'questions' to see some examples.
        <br><br>
        As this is AI assisted, please consider it to be an experimental sandbox, and if you'd like a real conversation, please contact me through LinkedIn.
        </div>
      </div>
    </div>

    <!-- Page specific webchat configuration and styling-->
    <script>
      const WEBCHAT_DEFAULT_WELCOME_MESSAGE =  'Welcome to the QnA Maker sample! Ask me a question and I will try to answer it.';
      const WEBCHAT_OVERRIDE_WELCOME_MESSAGE = 'Welcome';
      const WEBCHAT_OVERRIDE_TEXT_PROMPT = 'Ask me a question...';

      const styleSet = window.WebChat.createStyleSet({
        backgroundColor: 'white',
        hideUploadButton: true,  // note: This doesn't work in webchat current build (June 2024) so need to set via StyleOption instead
        sendBoxTextWrap: true ,
        
        bubbleBackground: 'rgb(250, 250, 250)',  // light grey
        bubbleBorderRadius: 10,
        bubbleBorderWidth: 1,
        bubbleBorderColor: 'rgb(230,230,230)',

        bubbleFromUserBackground: 'rgb(138, 211, 242)', // light blue
        bubbleFromUserBorderRadius: 10,
        bubbleFromUserBorderWidth: 1,
        bubbleFromUserBorderColor: 'rgb(230,230,230)',
        
        rootHeight: '100%',
        rootWidth: '100%'
      });
      
      styleSet.textContent = {
        ...styleSet.textContent,
        fontFamily: "'Verdana', 'Arial', sans-serif",
        fontWeight: 'normal'
      };
      
      const styleOptions = {
        // botAvatarInitials: 'DB',
        // userAvatarInitials: 'User',
        hideUploadButton: true
      };
    </script>

    <!-- Import of WebChat control logic -->
    <script src="/javascripts/webChatControl.js"></script>
    
    <!-- popup functions -->
    <script src="/javascripts/popupWindow.js"></script>
  </body>
</html>
